.nav{
    background-color: #67b4a6;
    height: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 30px;
}
p{
    text-align: justify;
    text-indent: 1cm;
    margin-top: 20px;
}
.center{
    text-align: center;
}
a:link{
    text-decoration: none;
}
a{
    color: gray
}
a:hover{
    color: gray
}
a:visited{
    color: gray;
}
span{
    text-align: justify;
    margin-top: 50px;
}
.logo{
    margin-top: 50px;    
}